.card{
  
    border-radius: 2px;
    /* box-shadow: 0 1px 2px rgba(0,0,0,.1); */
    padding: 20px;
    /* border:1px solid black; */
    margin: auto;
   
  

  
}

table{
    /* border:1px solid blue; */
    margin: auto;
    /* padding: 20px; */
    width: 80%;
}

th{
    border-top: 2px solid blue;
    width: 80vw;
    border-bottom: 2px solid blue;
    
    
}
td{
    border-bottom: 2px solid blue; 
}
th, td{
    /* border:1px solid black; */   
    padding: 5px;
}
table:hover{
    /* border:1px solid red; */
  opacity: 0.8;
  transition: 0.2s;
  background-color: floralwhite;
  border:2px solid blue;
  border-radius: 7px;
}